<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>

    <main>
    <div id="myForm">
        <form action="/" method="get" id="signup">   

            <input type="text" name="status" id='status' placeholder="status">
            <input type="text" name="name" id='name' placeholder="name">
            <input type="date" name="date" id='date' placeholder="date">
            <input type="time" id="time" name="appt"
        min="00:00" max="23:59" required>
            <input type="text" name="task_type" id='task_type' placeholder="tipo_tarefa">
            <input type="text" name="priority" id='priority' placeholder="prioridade">
        </form>
            <button id="btn1">TESTE</button>
    </div>
    </main>
    <script src="../main.js" type="module"></script>
  </body>
</html>
